<ion-view title="Account Details">
    <ion-content has-header="true" padding="true">
    </ion-content>
    <ion-content>  
        <div class="list">
            <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/user.png">
                    <h2 style="font-size: 21px!important;">{{singleuser.Name}}</h2>
                    <p> Total Revenue : {{singleuser.revenue=="" ? "0.00":singleuser.revenue}}</p>
                </a>
            </div>   
            <div class="item item-button-right" style="height: 56px!important;">
                {{singleuser.email}}
                <a class="button button-positive1" ng-href="mailto:{{singleuser.email}}" style="width: 60px!important;">
                    <img src="img/icon/mail.png" style="width:40px" />
                </a>
            </div>
            <div class="item item-button-right" style="height: 56px!important;">
                {{singleuser.telephone1==""?"No information found":singleuser.telephone1}}
                <a  href="sms:{{singleuser.telephone1}}?body=This+text+will+pre-populate+the+SMS+body" class="button button-positive1" style="width: 60px!important;right: 70px!important;">
                    <img src="img/icon/Chat.png" style="width:40px" />
                </a>
                <a class="button button-positive1" ng-href="tel:{{singleuser.telephone1}}" style="width: 60px!important;">
                    <img src="img/icon/phone.png" style="width:40px" />
                </a>                   
            </div>
            <div class="item item-button-right" style="height: 56px!important;">
                {{singleuser.websiteurl}}
                <a href="{{singleuser.websiteurl}}" class="button button-positive1" style="width: 60px!important;">
                    <img src="img/icon/globe.png" style="width:40px" />
                </a>  
            </div>  
            <div class="item item-divider" style="background-color: #E8E8E8;">
                ADDRESS INFORMATION
            </div>
           
            <!--<a href="#" onclick="window.open('{{singleuser.websiteurl}}', '_system');"></a>-->       
            <span class="item">
                Address : <br /> <span style="white-space:pre-line">{{singleuser.address}}</span>
            </span>               
              <div id="map" style="height:200px;border:none; " data-tap-disabled="true">
              
                </div>      
            <span class="item">
                Created date : {{singleuser.createdon |date:'MM/dd/yyyy'}}
            </span>
            <span class="item">
                Updated date : {{singleuser.modifiedon |date:'MM/dd/yyyy'}}
            </span>
            <span class="item">
                Owner name : {{singleuser.ownerid}}
            </span>
            <span class="item">
                Created by :  {{singleuser.createdby}}
            </span>
        </div>
    </ion-content>
</ion-view>