<ion-view view-title="My Accounts">
    <ion-nav-buttons side="right" enable-menu-with-back-views="false">
        <a class="button button-icon icon ion-plus" title="Add account" info="popover" info_place="bottom" style="color:white" ng-click="Gotoaddaccount()" ></a>
        <a class="button button-icon icon ion-search" style="color:white" href="#/app/searchaccounts"></a>
    </ion-nav-buttons>

    <!--<ion-header-bar>
        <h1 class="title">My Accounts</h1>
    </ion-header-bar>-->
    <!--<div class="bar bar-subheader">
        <h2 class="title">Sub Header</h2>
    </div>-->    
    <ion-content overflow-scroll="true" ng-init="fire()">     
        <ion-refresher pulling-text="Pull To Refresh" on-refresh="doRefresh()"
                       refreshing-text="Fetching ..." refreshing-icon="ion-loading-c"></ion-refresher>
        <!--<div class="list list-inset" style=" margin: 0px;padding-bottom: 0px;padding-top: 0px;">
            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios7-search placeholder-icon"></i>
                    <input type="search" placeholder="Search" ng-model="search">
                </label>
            </div>
        </div>-->
        <ion-list class="list">
            <!--item-icon-left-->
            <ion-item class="item item-icon-left item-icon-right" href="" style="color: black;"
                      collection-repeat="item in arrey | filter:search" ng-click="Details(item)">
                <i class="icon ion-ios-folder-outline"></i>
                {{item.Name}}<br />
                <span style="vertical-align: sub;color:rgb(50, 166, 78);font-size:13px">{{item.revenue=="" ? "0.00":item.revenue}}</span><br />
                <span style="color:#373737 ; font-size:13px">Total Revenue</span>
                <i class="icon ion-ios-arrow-forward" style="color: #C9C9C9;font-size: 24px;"></i>
                <ion-option-button class="button-positive" ng-click="Edit(item.accountid)">&nbsp;Edit &nbsp;</ion-option-button>
            </ion-item> 
            <ion-infinite-scroll on-infinite="loadMore()" spinner-class="spinner-dark" distance="1%">    
                <!--<p id="p1">
                  <ion-spinner icon="android"></ion-spinner> 
               </p>-->
            </ion-infinite-scroll>
     </ion-list>
    </ion-content>    
</ion-view>
