<ion-view view-title="Add Account">
    <ion-content>
        <div class="list">
            <label class="item item-input validated">
                <span class="input-label">First Name</span>
                <input type="text"><i class="icon ion-alert-circled error"></i>
            </label>
            <label class="item item-input validated">
                <span class="input-label">Last Name</span>
                <input type="text">
            </label>
            <label class="item item-input validated">
                <span class="input-label">Last Name</span>
                <input type="text">
            </label>
        </div>
        </ion-content>
</ion-view>