<ion-view view-title="{{adda}}">

    <ion-nav-buttons side="right" enable-menu-with-back-views="false">
        <button class="button button-icon icon ion-checkmark" style="color:white" type="submit" ng-click="Save(accountData)"></button>
    </ion-nav-buttons>
    <style>
        .tabs-top > .tabs, .tabs.tabs-top {
            top: inherit !important;
            padding-top: initial !important;
            background-color: #E2E2E2 !important;
        }
    </style>
    <ion-tabs class="tabs-stable tabs-icon-top">
        <form name="userForm" novalidate="novalidate" on-valid-submit="Save(accountData)">
            <ion-tab title="Info" icon="ion-android-home">
                <ion-nav-view>
                    <ion-content style="top: 44px;background-color: rgb(240, 240, 240);margin-bottom: 35px;">
                        <!--<form name="userForm" novalidate="novalidate" on-valid-submit="Save(accountData)">-->
                            <div class="list">
                                <label class="item item-input" style="font-weight:500">
                                    <span class="input-label" style="color:blue">Account Name</span>
                                    <input type="text" ng-model="accountData.Name"/>
                                </label>
                                <label class="item item-input">
                                    <span class="input-label">Annual Revenue</span>
                                    <input type="tel" ng-model="accountData.revenue" required>
                                </label>
                                <label class="item item-input" style="font-weight:500">
                                    <span class="input-label">Email</span>
                                    <input type="text" ng-model="accountData.email">
                                </label>
                                <br />
                                <label class="item item-input" style="font-weight:500">
                                    <span class="input-label">Mobile No</span>
                                    <input type="tel" ng-model="accountData.telephone1">
                                </label>
                                <label class="item item-input">
                                    <span class="input-label">Fax</span>
                                    <input type="tel" ng-model="accountData.faxnumber">
                                </label>
                                <br />
                                <label class="item item-input">
                                    <span class="input-label">Website</span>
                                    <input type="text" ng-model="accountData.websiteurl">
                                </label>
                                <label class="item item-input" style="font-weight:500">
                                    <span class="input-label">Description</span>
                                    <textarea type="text" ng-model="accountData.description" style="border: 1px solid rgb(211, 208, 208);margin-right: 70px;"></textarea>
                                </label>
                                <br />
                            </div>
                        <!--</form>-->
                   </ion-content>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Address" icon="ion-map">
                <ion-nav-view>
                    <ion-content style="top: 44px;background-color: rgb(240, 240, 240);">
                        <div class="item item-divider">
                            <h2 style="text-align:center;color:blue;font-weight:500">Address Information</h2>
                        </div>
                        <div class="list">                          
                            <label class="item item-input " style="font-weight:500">
                                <span class="input-label">Street 1</span>
                                <input type="text" ng-model="accountData.address1_line1">
                            </label>
                            <label class="item item-input " style="font-weight:500">
                                <span class="input-label">Street 2</span>
                                <input type="text" ng-model="accountData.address1_line2">
                            </label>
                            <label class="item item-input " style="font-weight:500">
                                <span class="input-label">Street 3</span>
                                <input type="text" ng-model="accountData.address1_line3">
                            </label>
                            <br />
                            <label class="item item-input " style="font-weight:500">
                                <span class="input-label">City</span>
                                <input type="text" ng-model="accountData.city">
                            </label>
                            <!--<label class="item item-input " style="font-weight:500">
                                <span class="input-label">State</span>
                                <input type="text" ng-model="accountData.state">
                            </label>-->
                            <label class="item item-input " style="font-weight:500">
                                <span class="input-label">Zip/Postal Code</span>
                                <input type="text" ng-model="accountData.address1_postalcode">
                            </label>
                            <label class="item item-input " style="font-weight:500">
                                <span class="input-label">Country</span>
                                <input type="text" ng-model="accountData.address1_country">
                            </label>
                        </div>
                    </ion-content>
                </ion-nav-view>
            </ion-tab>
        </form>
    </ion-tabs>
</ion-view>