<ion-view view-title="Add Contact">

    <ion-nav-buttons side="right" enable-menu-with-back-views="false">
        <button class="button button-icon icon ion-checkmark" style="color:white" type="submit" ng-click="Save(contactData)"></button>
    </ion-nav-buttons>
    <style>
        .tabs-top > .tabs, .tabs.tabs-top {
            top: inherit !important;
            padding-top: initial !important;
            background-color: #E2E2E2 !important;
        }
    </style>
    <ion-tabs class="tabs-stable tabs-icon-top" style="background-color: #DBDBDB;">
        <form name="userForm" novalidate="novalidate" on-valid-submit="Save(contactData)">
            <ion-tab title="Info" icon="ion-android-home">
                <ion-nav-view>
                    <ion-content style="top: 44px;background-color: rgb(240, 240, 240);margin-bottom: 35px;">
                        <div class="list">
                            <label class="item item-input" style="font-weight:500">
                                <span class="input-label" style="color:blue">Select Account Name</span>
                                <input type="text" ng-model="contactData.parentcustomername" value="contactData.parentcustomerid" ng-click="fetchaccount()">
                            </label><br />
                            <label class="item item-input" style="font-weight:500">
                                <span class="input-label" style="color:blue">First Name</span>
                                <input type="text" ng-model="contactData.firstname" required />
                            </label>
                            <label class="item item-input" style="font-weight:500">
                                <span class="input-label" style="color:blue">Last Name</span>
                                <input type="text" ng-model="contactData.lastname" required/>
                            </label>
                           
                            <label class="item item-input" style="font-weight:500">
                                <span class="input-label">Job Title</span>
                                <input type="text" ng-model="contactData.jobtitle">
                            </label>
                            <label class="item item-input" style="font-weight:500">
                                <span class="input-label">Credit Limit</span>
                                <input type="text" ng-model="contactData.creditlimit">
                            </label>
                            <label class="item item-input" style="font-weight:500">
                                <span class="input-label">Email</span>
                                <input type="text" ng-model="contactData.emailaddress1">
                            </label>
                            <br />
                            <label class="item item-input" style="font-weight:500">
                                <span class="input-label">Mobile No</span>
                                <input type="tel" ng-model="contactData.mobilephone">
                            </label>
                            <label class="item item-input" style="font-weight:500">
                                <span class="input-label">Business Phone</span>
                                <input type="tel" ng-model="contactData.telephone1">
                            </label>
                            <label class="item item-input">
                                <span class="input-label">Fax</span>
                                <input type="tel" ng-model="contactData.fax">
                            </label>
                            <br />
                                <label class="item item-input item-select" style="font-weight:500">
                                    <div class="input-label">
                                        Select Gender
                                    </div>
                                    <select ng-model="contactData.gendercode">
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                    </select>
                                </label>
                            <label class="item item-input item-select" style="font-weight:500">
                                <div class="input-label">
                                    Marital Status
                                </div>
                                <select ng-model="contactData.familystatuscode">
                                    <option value="1">Single</option>
                                    <option value="2">Married</option>
                                    <option value="3">Divorced</option>
                                    <option value="3">Widowed</option>                                    
                                </select>
                            </label>
                            <br />
                        </div>
                    </ion-content>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Address" icon="ion-map">
                <ion-nav-view>
                    <ion-content style="top: 44px;background-color: rgb(240, 240, 240);">
                        <div class="item item-divider">
                            <h2 style="text-align:center;color:blue;font-weight:500">Address Information</h2>
                        </div>
                        <div class="list">                          
                            <label class="item item-input " style="font-weight:500">
                                <span class="input-label">Street 1</span>
                                <input type="text" ng-model="contactData.address1_line1">
                            </label>
                            <label class="item item-input " style="font-weight:500">
                                <span class="input-label">Street 2</span>
                                <input type="text" ng-model="contactData.address1_line2">
                            </label>
                            <label class="item item-input " style="font-weight:500">
                                <span class="input-label">Street 3</span>
                                <input type="text" ng-model="contactData.address1_line3">
                            </label>
                            <br />
                            <label class="item item-input " style="font-weight:500">
                                <span class="input-label">City</span>
                                <input type="text" ng-model="contactData.address1_city">
                            </label>
                            <!--<label class="item item-input " style="font-weight:500">
                                <span class="input-label">State</span>
                                <input type="text" ng-model="contactData.state">
                            </label>-->
                            <label class="item item-input " style="font-weight:500">
                                <span class="input-label">Zip/Postal Code</span>
                                <input type="text" ng-model="contactData.address1_postalcode">
                            </label>
                            <label class="item item-input " style="font-weight:500">
                                <span class="input-label">Country</span>
                                <input type="text" ng-model="contactData.address1_country">
                            </label>
                        </div>
                    </ion-content>
                </ion-nav-view>
            </ion-tab>
        </form>
    </ion-tabs>
</ion-view>