<ion-view view-title="Add Task">

    <ion-nav-buttons side="right" enable-menu-with-back-views="false">
        <button class="button button-icon icon ion-checkmark" style="color:white" type="submit" ng-click="Save(taskData)"></button>
    </ion-nav-buttons>
    <style>
        .tabs-top > .tabs, .tabs.tabs-top {
            top: inherit !important;
            padding-top: initial !important;
            background-color: #E2E2E2 !important;
        }
    </style>      
    <ion-content style="top: 44px;background-color: rgb(240, 240, 240);">
        <form name="userForm" novalidate="novalidate" on-valid-submit="Save(taskData)">
            <div class="list">
                <label class="item item-input" style="font-weight:500">
                    <span class="input-label">Select regarding</span>
                    <input type="text" readonly ng-model="taskData.regardingobjectname" value="taskData.regardingobjectid" ng-click="popover.show($event)" />
                    <i style="margin-right:10px" class="icon ion-chevron-down"></i>
                </label><br />
                <script id="templates/popover.html" type="text/ng-template" style="background-image:url(img/translucent.png)">
                    <ion-popover-view class="custom" style="margin-left:20%;margin-right:20%">
                        <ion-content>
                            <ion-list>
                                <div class="item item-divider">
                                    <h2 style="text-align:center;color:blue;font-weight:500">Choose Regarding Entity</h2>
                                </div>
                                <ion-item ng-repeat="org in Entity" class="list">
                                    <a class="item" href="" style="text-align:center" ng-click="fetchaccounttask(org.entity,$event)">
                                        {{org.entity}}
                                    </a>
                                </ion-item>
                            </ion-list>
                        </ion-content>
                    </ion-popover-view>
                </script>
                <label class="item item-input" style="font-weight:500">
                    <span class="input-label" style="color:blue">Subject</span>
                    <input type="text" ng-model="taskData.subject" />
                </label>
                <label class="item item-input" style="font-weight:500">
                <span class="input-label">Duration</span>
                <input placeholder="in minutes" type="number" ng-model="taskData.actualdurationminutes" />
                </label><br />
                <label class="item item-input" style="font-weight:500">
                    <span class="input-label">Due Date</span>
                    <input type="datetime-local" ng-model="taskData.scheduledend" />
                </label>               
                <!--<label class="item item-input" style="font-weight:500">
                    <span class="input-label">Account</span>
                    <input type="text" ng-model="taskData.regardingobjectid" value="contactData.accountid" ng-click="fetchaccounttask(index)" />
                    <i style="margin-right:10px" class="icon ion-chevron-down"></i>
                </label>
                <label class="item item-input" style="font-weight:500">
                    <span class="input-label">Contact</span>
                    <input type="text" ng-model="taskData.regardingobjectid" value="contactData.accountid" ng-click="fetchcontacttask(index)" />
                    <i style="margin-right:10px" class="icon ion-chevron-down"></i>
                </label>-->
               
                <label class="item item-input" style="font-weight:500">
                  <span class="input-label">Description</span>
               <textarea type="text" ng-model="taskData.description" style="border: 1px solid rgb(211, 208, 208);margin-right: 70px;"></textarea>
               </label>

                <!--<label class="item item-input item-select" style="font-weight:500">
                    <div class="input-label">
                        Priority
                    </div>
                    <select ng-model="leadData.leadqualitycode">
                        <option value="0">Low</option>
                        <option value="1">Normal</option>
                        <option value="2">High</option>
                    </select>
                </label>-->
                <br />
            </div>
        </form>
    </ion-content>            
      
</ion-view> 
