<ion-view view-title="Dashboard" hide-nav-bar="false" hide-back-button="true"> 
    <!--<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>-->
    <ion-nav-buttons side="left" enable-menu-with-back-views="false">
        <button class="button button-icon button-clear" style="color:white" ng-class="$ionicSideMenuDelegate.isOpen() ? 'ion-arrow-left-c' : 'ion-navicon'" menu-toggle="left"></button>
    </ion-nav-buttons>
        <ion-content>
            <!--<ion-refresher pulling-text="Pull To Refresh" on-refresh="doRefresh()"
                           refreshing-text="Fetching ..." refreshing-icon="ion-loading-c"></ion-refresher>-->     
            <div class="list card" style="margin:0px">
                <div class="item item-avatar-left" style="background-color: #E8E8E8;">
                    <img src="img/opportunitydetails.png" style="position: absolute;top: 8px !important;left: 5px!important;max-width: 40px;max-height: 40px;width: 100%;height: 100%;border-radius: 50%;">
                    <h2 style="padding-left:5px;font-size:17px">Opportunity Pipeline</h2>                    
                </div>
                <div class="item item-body">
                    <canvas class="chart chart-legend" donutchart data="donutchart"></canvas>
                    <!--<p>
                        This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                       
                    </p>
                    <p>
                        <a href="#" class="subdued">1 Like</a>
                        <a href="#" class="subdued">5 Comments</a>
                    </p>-->
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" style="font-size:16px" ng-click="OppoWon()">
                        <i class="icon ion-thumbsup" style="color:#46BFBD"></i>
                       Won&nbsp; <strong style="color:#46BFBD">{{arrey[0].statewon}}</strong>
                    </a>
                    <a class="tab-item" style="font-size:16px" ng-click="OppoOpen()">
                        <i class="icon ion-chatbox" style="color:#FDB45C"></i>
                       Open&nbsp; <strong style="color:#FDB45C">{{arrey[0].stateopen}}</strong>
                    </a>
                    <a class="tab-item" style="font-size:16px" ng-click="OppoLost()">
                        <i class="icon ion-thumbsdown"style="color:#F7464A"></i>
                        Lost&nbsp; <strong style="color:#F7464A">{{arrey[0].stateclose}}</strong>
                    </a>
                </div>
            </div>
            <div class="list card" style="margin:0px">
                <div class="item item-avatar-left" style="background-color: #E8E8E8;">
                    <img src="img/activity.png" style="position: absolute;top: 8px !important;left: 5px!important;max-width: 40px;max-height: 40px;width: 100%;height: 100%;border-radius: 50%;">
                    <h2 style="padding-left:5px;font-size:17px">Activity Pipeline</h2>
                </div>
                <div class="item item-body">
                    <canvas class="chart" piechart data="piechart"></canvas>
                    <!--<p>
                This is a "Facebook" styled Card. The header is created from a Thumbnail List item,

            </p>
            <p>
                <a href="#" class="subdued">1 Like</a>
                <a href="#" class="subdued">5 Comments</a>
            </p>-->
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" style="font-size:16px">
                        <i class="icon ion-android-phone-portrait" style="color:#059ae5"></i>
                        Calls&nbsp; <strong style="color:#059ae5">{{ActivityArray[0].phonecall}}</strong>
                    </a>
                    <a class="tab-item" style="font-size:16px">
                        <i class="icon ion-thumbsup" style="color:#FDB45C"></i>
                        Appo.&nbsp; <strong style="color:#FDB45C">{{ActivityArray[0].appointment}}</strong>
                    </a>
                    <a class="tab-item" style="font-size:16px">
                        <i class="icon ion-email" style="color:#F7464A"></i>
                        email&nbsp; <strong style="color:#F7464A">{{ActivityArray[0].email}}</strong>
                    </a>
                    <a class="tab-item" style="font-size:16px">
                        <i class="icon ion-ios-book" style="color:#46BFBD"></i>
                        task&nbsp; <strong style="color:#46BFBD">{{ActivityArray[0].task}}</strong>
                    </a>
                </div>
            </div>
        </ion-content>
</ion-view>
