<ion-view view-title="My Case">
    <ion-content>
        <ion-refresher pulling-text="Pull To Refresh" on-refresh="doRefresh()"
                       refreshing-text="Fetching ..." refreshing-icon="ion-loading-c"></ion-refresher>     
        <!--<p id="p" ng-show="IncidentLoad">
            <ion-spinner icon="ios"></ion-spinner>
        </p>-->
        <div>
            <div class="list list-inset" style=" margin: 0px;padding-bottom: 0px;padding-top: 0px">
                <div class="bar bar-header item-input-inset">
                    <label class="item-input-wrapper">
                        <i class="icon ion-ios7-search placeholder-icon"></i>
                        <input type="search" placeholder="Search" ng-model="search">
                    </label>
                </div>
            </div>
            <div class="list">
                <a class="item item-icon-left item-icon-right" href="#" style="padding-left: 31px!important;padding-top: 9px; padding-bottom: 9px; color: black;"
                   ng-repeat="item in arrey | filter:search" ng-click="Details(item)">
                    <i class="icon ion-ios-book-outlinecvbcx"></i>
                    {{item.title}}<br />
                    <span style="vertical-align: sub;color:rgb(50, 166, 78);font-size:13px">{{item.ticketnumber=="" ? "NO Ticket Found":item.ticketnumber}}</span><br />
                    <span style="color:#373737 ; font-size:13px">Ticket Number</span>
                    <i class="icon ion-ios-arrow-forward" style="color: #C9C9C9;font-size: 24px;"></i>
                </a>
            </div>
        </div>
</ion-view>
