<ion-view view-title="">
    <style>
        .custome {
            padding-left: 21px!important;
            padding-top:0px!important;
            color: #FFFFFF!important;
            font-size: 17px!important;
            background-color: transparent;
            border-bottom: 2px solid white!important;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            width:240px;
        }
        -webkit-input-placeholder { 
        color:   #FFFFFF;
      }
        

-webkit-input-placeholder {
    color: white;
}-moz-placeholder {

    color: white;
}
-moz-placeholder {

    color: white;
}
-ms-input-placeholder {
    color: white;
}
    </style>
    <ion-nav-buttons side="right" style="width:100%">
        <input class="custome" type="search" placeholder="Search" ng-model="search" ng-change='Filter(search)'>
    </ion-nav-buttons>
    <p id="p1" ng-show="!Showdata">
      <ion-spinner icon="android"></ion-spinner>
    </p>
   
    <ion-content overflow-scroll="true">     
        <div class="list" style="margin-bottom: 10px !important;" ng-repeat="item in arrey" ng-click="Details(item)">
            <a class="item item-icon-left item-icon-right" href="" style="padding-bottom: 10px; padding-top: 10px; background-color: #EEEEEE;color: black;">
                <i class="icon ion-ios-book-outlinedfs"></i>
                {{item.name}}
                <i class="icon ion-ios-arrow-forward" style="color: #C9C9C9;font-size: 24px;"></i>
            </a>
            <div class="row">
                <div class="col" style="color: rgb(123, 113, 113)!important;text-align: center;"><strong style="vertical-align: super;color:rgb(50, 166, 78);">{{item.budgetamount}}</strong><br />Deal Size</div>
                <div class="col" style="color: rgb(123, 113, 113)!important;text-align: center;"><strong style="vertical-align: super;color:rgb(50, 166, 78);">{{item.estimatedclosedate | date:'MM/dd/yyyy'}}</strong><br />Close Date</div>
                <div class="col" style="color: rgb(123, 113, 113)!important;text-align: center;"><strong style="vertical-align: super;color:rgb(50, 166, 78);">{{item.stepname}}</strong><br />Stage</div>
            </div>
        </div>
    </ion-content>    
</ion-view>
