<ion-view view-title="">
    <style>
        .custome {
            padding-left: 21px!important;
            padding-top:0px!important;
            color: #FFFFFF!important;
            font-size: 17px!important;
            background-color: transparent;
            border-bottom: 2px solid white!important;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            width:240px;
        }
        -webkit-input-placeholder { 
        color:   #FFFFFF;
      }
        

-webkit-input-placeholder {
    color: white;
}-moz-placeholder {

    color: white;
}
-moz-placeholder {

    color: white;
}
-ms-input-placeholder {
    color: white;
}
    </style>
    <ion-nav-buttons side="right" style="width:100%">
        <input class="custome" type="search" placeholder="Search" ng-model="search" ng-change='Filter(search)'>
    </ion-nav-buttons>
    <p id="p1" ng-show="!Showdata">
      <ion-spinner icon="android"></ion-spinner>
    </p>
   
    <ion-content overflow-scroll="true" >     
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right padding" ng-repeat="item in arrey | filter:search" ng-click="Details(item)" type="item-text-wrap">
                <img src="img/user.png">
                <h2 style="padding-left: 20px;">{{item.Name}}</h2>
                <p style="padding-left: 22px;">{{item.jobtitle}}</p>
                <p style="padding-left: 18px;">
                    <a ng-href="geo:{{item.addressline1}},{{item.city}},{{item.country}},{{item.address1_postalcode}}"><img src="img/icon/map.png" style=" width: 20px;" /></a>
                    <span>{{item.addressline1}},{{item.city}},{{item.country}},{{item.address1_postalcode}}</span>
                </p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">
                Delete
            </ion-option-button>-->
            </ion-item>
        </ion-list>
    </ion-content>    
</ion-view>
