<ion-view view-title="">
    <style>
        .custome {
            padding-left: 21px!important;
            padding-top:0px!important;
            color: #FFFFFF!important;
            font-size: 17px!important;
            background-color: transparent;
            border-bottom: 2px solid white!important;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            width:240px;
        }
        -webkit-input-placeholder { 
        color:   #FFFFFF;
      }
        

-webkit-input-placeholder {
    color: white;
}-moz-placeholder {

    color: white;
}
-moz-placeholder {

    color: white;
}
-ms-input-placeholder {
    color: white;
}
    </style>
    <ion-nav-buttons side="right" style="width:100%">
        <input class="custome" type="search" placeholder="Search" ng-model="search" ng-change='Filter(search)'>
    </ion-nav-buttons>
    <p id="p1" style="margin-top: 70px !important" ng-if="!Showdata">
        <ion-spinner icon="android"></ion-spinner>
    </p>
   
        <ion-content overflow-scroll="true">
            <div>
                <ion-list>
                    <ion-item click-for-options class="item item-icon-left item-icon-right" collection-repeat="item in arrey" ng-click="Details(item)" type="item-text-wrap">
                        <i class="icon ion-ios-folder-outlinezzz"><span class="stbtn" style="background-color:{{item.Name|filtercolor}}"><span class="stbase">{{item.Name| alphabet}}</span></span></i>
                        <h2 style="padding-left: 20px;">{{item.Name}}</h2>
                        <span style="padding-left: 22px;">{{item.jobtitle}}</span>
                        <p style="padding-left: 18px;">
                            <a>
                                <img src="img/icon/map.png" style="width: 20px" />
                                {{item.address}}
                            </a>
                        </p>
                        <i class="icon ion-chevron-right icon-accessory"></i>
                        <ion-option-button click-for-options class="button-positive" ng-click="Edit(item.contactid)">&nbsp;Edit &nbsp;</ion-option-button>
                    </ion-item>
                    <ion-infinite-scroll on-infinite="loadMore()" spinner="spinner-dark" distance="3%">
                    </ion-infinite-scroll>
                </ion-list>

            </div>
            </ion-content>
    <p ng-if="showfound" style="margin: 0 0 10px;color: black;text-align: center;padding: 100px;">No result found, Please try again with diffrent word.</p>
</ion-view>
