<ion-view hide-nav-bar="true">  
    <ion-header-bar class="backcolor">
        <h1 class="title" style="color:white; text-align:center">Sign In</h1>
    </ion-header-bar>
    <ion-nav-title>          
    </ion-nav-title>
    <ion-content>
        <!--<span class="item item-header margin-top-15" style=" background-color: #B0B3B5 !important;">
            <img src="img/crmlogo.png" class="company-logo" />
        </span>-->
        <form name="userForm" novalidate="novalidate" on-valid-submit="Login(loginData, finalurl)" style="padding-top:20px">
                <div class="item item-divider">
                    <h2 style="text-align:center">CRM Dynamics Credential</h2>
                </div>
            <div class="list">
                <label class="item item-input item-stacked-label validated">
                   <span class="input-label">Select Organization Url</span>
                    <input type="text" ng-click="popover.show($event)" ng-model="loginData.serverurl" value="{{serverurl}}" placeholder="Tab here.."  />
                    <i class="icon ion-alert-circled error"></i>
                </label>             
                <label class="item item-input item-stacked-label validated">
                    <span class="input-label">Organization Name</span>
                    <input type="text" ng-model="loginData.url" placeholder="e.g. contoso" required />
                    <i class="icon ion-alert-circled error"></i>
                </label>
                <label class="button button-clear">
                   <span id="finalurl" style="color:black" >{{loginData.url1+loginData.url+loginData.serverurl}}</span> 
                </label>               
                <label class="item item-input item-stacked-label validated">
                    <span class="input-label">User Name</span>
                    <input type="text" ng-model="loginData.username" placeholder="" required />
                    <i class="icon ion-alert-circled error"></i>
                </label>
                <label class="item item-input item-stacked-label validated">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginData.password" required="required" />
                    <i class="icon ion-alert-circled error"></i>
                </label>
                <ul class="list">
                    <li class="item item-toggle">
                        Remember me
                        <label class="toggle toggle-positive">
                            <input type="checkbox" ng-model="loginData.rememberme">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>

                       <div class="item item-divider">
                     </div>
                        <li><button class="button button-block button-stable" style="background-color: #2586C6 !important; color:white; border:0px;height:45px;font-size:22px" type="submit">Log in</button></li>
                     </ul>
                 </div>
          </form>
        
        <script id="templates/popover.html" type="text/ng-template" style="background-image:url(img/translucent.png)">
            <ion-popover-view class="custom" style="margin-left:5%;margin-right:5%">
                <ion-content>
                    <ion-list>
                        <ion-item ng-repeat="org in organization" class="list">
                            <a class="item" href="" style="text-align:center" ng-click="Fetchrecord(org.orgurl,$event)">
                                {{org.orgurl}}
                            </a>
                        </ion-item>
                    </ion-list>        
                </ion-content>                       
            </ion-popover-view>
        </script>
    </ion-content>

    <!--<ion-footer-bar class="backcolor">
        <span style="color:white; text-align:center;width:100%"> @ MoreYeahs.com, inc.  All rights reserved.</span>
    </ion-footer-bar>-->
</ion-view>
