<ion-view hide-nav-bar="true" class="col-100 back Backgroundimage">   
    <!--<ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide>
            <h3>Thank you for choosing the Awesome App!</h3>
            <div id="logo">
                <img src="http://code.ionicframework.com/assets/img/app_icon.png">
                vikash
            </div>
            <p>
                We've worked super hard to make you happy.
            </p>
            <p>
                But if you are angry, too bad.
            </p>
        </ion-slide>
        <ion-slide>
            <h3>Using Awesome</h3>

            <div id="list">
                <h5>Just three steps:</h5>
                <ol>
                    <li>Be awesome</li>
                    <li>Stay awesome</li>
                    <li>There is no step 3</li>
                </ol>
            </div>
        </ion-slide>
        <ion-slide>
            <h3>Any questions?</h3>
            <p>
                Too bad!
            </p>
        </ion-slide>
    </ion-slide-box>-->

    <ion-content has-bouncing="false" scroll="false">
               
      
   <div style="margin-top:100%">
      <button class="button button-block button-stable" style="background-color: #4d76ba !important;border:0px; color:white; height:53px;font-size:21px" ng-click="open()">Sign in to Your Account</button>
    
</div>    
    </ion-content>
        <ion-footer-bar style="background-color:transparent">
            <span style="color:white; text-align:center;width:100%"> @ MoreYeahs Inc. All rights reserved.</span>
           
        </ion-footer-bar>
</ion-view>
